/* ==== Google Fonts ====  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {

    /* Colors */
    --frist-color: #069c54;
    --second-color: #048654;
    --title-color: #393939;
    --text-color: #707070;
    --body-color: #fbfefd;
    --container-color: #ffffff;

    /* Typography */
    --body-font: 'Poppins', 'sans-serif';
    --big-font: 3rem;
    --h1-font-size:1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;

 /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Base */
*,::before,::after {
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    background-color: var(--body-color);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    line-height: 1.6;

    /* height: 1200px; */
}

h1, h2, h3, p, ul{
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Class CSS */

/* Layout */

.bd-cont {
 max-width: 1024px;
 display: flex;   
 justify-content: space-between;
 align-items: center;
 margin: 0 auto;
}


.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.nav-link {
    color: var(--text-color);
    font-weight: var(--font-medium);
}

.active-link {
    color: var(--frist-color);
}

/* Hero Section */

.hero-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero-content h1 {
    font-size: var(--big-font);
    color: var(--frist-color);
    margin-bottom: var(--mb-1);
}

.hero-content h2 {
    color: var(--title-color);
    margin-bottom: var(--mb-3);
}

.hero-btn{
    background-color: var(--frist-color);
    color: var(--title-color);
    padding: 10px 20px;
    border-radius: 8px;
}

.hero-img img {
    width: 450px;
    height: auto;
}

/* Secondary section */
.sec-section{
    padding: 150px 0;
}

.sec-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: var(--mb-6);
    flex-direction: row-reverse;
}

.sec-content, .sec-img {
    width: 20%;
}

.sec-content span {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
    color: var(    --frist-color);
}

.sec-content h2 {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
    margin-bottom: var(--mb-3);
}

.sec-content p {
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-3);
}

.sec-btn{
    background-color: var(--frist-color);
    color: var(--title-color);
    padding: 10px 20px;
    border-radius: 8px;
}

.sec-img img {
    width: 450px;
    height: auto;
    border-radius: 20px;
}

/* Offering Sec */

.off-sec{
    padding: 50px 0;
}
.off-header  {
    text-align: center;
}

.off-header span{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
    color: var(    --frist-color);
}

.off-header h2 {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
    margin-bottom: var(--mb-3);
}

.off-body{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.off-cards {
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dfdfdf;
    padding: 16px;
    border-radius: 8px;
    box-shadow: #393939;

}

.off-cards h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
}

.off-cards p {
    text-align: center;
    font-weight: var(--font-medium);
}

.off-cards img {
    width: 120px;
    margin-bottom: var(--mb-3);
}